//gallery
.gallery {
  margin-top: 20px;
  background: #333;
  color: #ffffff;
  .body {
    padding: 10px;
    .items {
      display: flex;
      justify-content: space-between;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: 1px solid red;
  }
}

.card {
  border: solid 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  margin-bottom: 10px;
  position: relative;
  transition: 0.3s all;
  overflow: hidden;
  &:before {
    font-family: "Material Design Icons";
    position: absolute;
    font-size: 96px;
    top: -25px;
    right: -7px;
    line-height: 1;
    opacity: 0.08;
    color: $text-color;
  }
  .content {
    width: 100%;
  }
  &-primary {
    background: $brand-primary;
  }
  &-secondary {
    background: $brand-secondary;
  }
  &-gallery {
    align-items: flex-end;
    color: #ffffff;
    padding: 48px 16px 16px;
    &:before {
      content: "\F2FA";
      transform: rotate(90deg);
    }
    .wrapper {
      max-width: none;
    }
    .title {
      margin: 0 0 8px;
      font-size: 32px;
      font-weight: 300;
      line-height: 1.12;
    }
    .sub-title {
      margin: 0 0 16px;
      font-size: 16px;
      font-weight: 300;
    }
    .btn {
      margin-top: 16px;
    }
    .item {
      position: relative;
      border: solid 1px rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
      &:nth-of-type(3) {
        &:after {
          content: " ";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.4);
        }
      }
      .more {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #ffffff;
        z-index: 2;
        transform: translateY(-50%);
      }
    }
    label:nth-of-type(3) {
      &:after {
        content: " ";
        position: absolute;
        width: calc(100% - 4);
        height: calc(100% - 4);
        left: 2px;
        top: 2px;
        background: rgba(0, 0, 0, 0.4);
      }
      .item {
        position: relative;
        &:after {
          content: " ";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.4);
          z-index: 2;
        }
        .more {
          position: absolute;
          top: 50%;
          width: 100%;
          text-align: center;
          font-size: 12px;
          color: #ffffff;
          z-index: 3;
          transform: translateY(-50%);
        }
      }
    }
  }
  &-default-with-cta {
    min-height: 192px;
    align-items: flex-end;
    padding: 16px;
    background-color: #ffffff;
    &:before {
      content: "\F6E7";
      top: -10px;
      right: 0;
    }
    .title {
      margin: 0 0 16px;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
    }
  }
  &-default {
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 0 16px;
    color: $text-color;
    box-shadow: none;
    &:hover {
      background: #ffffff;
      color: $text-color;
      text-decoration: none;
    }
    &:active,
    &:focus {
      background: rgba(0, 0, 0, 0.04);
      text-decoration: none;
    }
  }
  &-stats {
    display: flex;
    align-items: center;
    height: 64px;
    border-radius: 4px;
    padding: 0 16px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px rgba(0, 0, 0, 0.12);
    .logo {
      display: flex;
      border-right: solid 1px rgba(0, 0, 0, 0.12);
      padding-right: 16px;
    }
    .stats {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding-left: 16px;
      height: 100%;
      line-height: 1;
      justify-content: center;
      &-info {
        font-size: 10px;
        font-weight: 300;
        margin-top: 4px;
      }
      &-value {
        font-size: 22px;
        font-weight: bold;
        color: $text-color;
        .currency {
          margin-left: 6px;
        }
      }
    }
  }
}
