$font-family-base: "Open Sans" !default;
$grid-gutter-width: 20px !default;
$base-px-value: 8px !default;

$container-sm: 400px !default;
$container-md: 960px !default;
$container-lg: $container-md !default;

//colors
$brand-primary: #3f51b5 !default;
$brand-success: #00c853 !default;
$brand-secondary: #ff4081 !default;
$brand-bright: #ffe514 !default;
$card-bg-color: #ff4081 !default;
$text-color: #000000 !default;
$body-bg: #eceff1 !default;
$facebook-color: #3b5998 !default;
