$font-family-base: "Open Sans", Sans Serif !default;
$base-px-value: 8px !default;

//colors
$brand-primary: #1c72f9 !default;
$brand-success: #00c853 !default;
$brand-secondary: #ff4081 !default;
$text-color: #a8a8a8 !default;
$body-bg: #eceff1 !default;
$shell-bg: #ffffff;
$brand-gray-bg: #f4f8fe;
$list-header-bg: #f8f9fb;
$list-alt-row-bg: #f8f9fb;
$text-white: #ffffff;
$text-gray: #a8a8a8;
