@import "variables";

@import "material-fonts";
@import "loader";

body {
  margin: 0;
  font-family: $font-family-base;
}

.app {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $body-bg;

  &:before {
    content: '';
    position: absolute;
    width: 400px;
    height: 100%;
    border-top: 2000px solid transparent;
    border-bottom: 0;
    border-right: 2500px solid $brand-primary;
    right: 0;
    z-index: -1;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shell {
    height: 500px;
    border-radius: 12px;
    background: $shell-bg;
    box-shadow: -1px 0 35px -2px rgba(0,0,0,0.75);
    display: flex;
    overflow: hidden;

    &__sidebar {
      width: 196px;
      height: 100%;
      background: $brand-primary;
      color: $text-white;
      text-align: center;
      .avatar {
        width: 120px;
        height: 115px;
        border-radius: 200px;
        overflow: hidden;
        margin: 24px auto;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .title {
        font-size: 18px;
        small {
          margin-top: 4px;
          font-size: 12px;
          display: block;
          color: $text-white;
          opacity: 0.6;
        }
      }
    }

    &__content {
      width: 764px;
      height: 100%;
      padding: 24px;
    }

    &__header {
      width: 100%;
      align-items: center;
      display: flex;
      height: 40px;
      .search-form {
        width: 400px;
        position: relative;
        color: $text-gray;
        &:before {
          content: '\F016';
          font-size: 20px;
          font-family: "Material Design Icons";
          width: 34px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
        }
        .form-control {
          background: $brand-gray-bg;
          color: $text-gray;
          border: 1px solid $brand-gray-bg;
          height: 32px;
          width: 100%;
          border-radius: 10px;
          padding: 0 16px 0 36px;
          transition: 0.3s all;
          &:focus {
            border: 1px solid $brand-primary;
            outline: none;
          }
        }
      }
    }

    &__body {
      margin: 12px 0 0;
      .contacts__list {

        &__total {
          color: $brand-success;
          font-size: 12px;
          margin-bottom: 8px;
          height: 17px;
        }

        &__header {
          background: $list-header-bg;
          border-radius: 4px;
          height: 30px;
          display: flex;
          flex-shrink: 1;
          &__each {
            font-weight: 700;
            color: $text-gray;
            font-size: 12px;
            display: flex;
            align-items: center;
            width: 165px;
            padding: 8px 12px;
            .action {
              font-size: 20px;
              cursor: pointer;
            }
            &:first-child {
              width: 100px;
            }
            &:last-child {
              width: 300px;
            }
          }
        }

        &__body {
          overflow: hidden;
          height: 320px;
          &.loading {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .list__row {
            display: flex;
            justify-content: start;
            &:nth-child(even) {
              background: $list-alt-row-bg;
            }
            &--item {
              width: 165px;
              padding: 24px 12px;
              font-size: 12px;
              &:first-child {
                width: 100px;
              }
              &:last-child {
                width: 300px;
              }
            }
          }

          &--empty, &--error {
            padding: 40px;
            text-align: center;
            .icon {
              font-size: 40px;
            }
          }
        }
      }
    }

    &__footer {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .pagination {
        display: flex;
        &__link {
          background: $brand-gray-bg;
          padding: 4px 8px;
          margin: 0 12px;
          cursor: pointer;
          border-radius: 100px;
          transition: 0.3s all;
          &:hover {
            background: $brand-primary;
            color: $text-white;
          }
        }
      }
    }
  }
}
